* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    width: 100%;
  }
 
  .menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px; 
    margin-bottom: 0;
    list-style-type: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 29px;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
    top: 50px;
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_text {
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    margin-top: 6px;
} 

.subheader .subheader_call_text {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    margin-top: 23px;
    text-align: right;
}

.subheader  .subheader_call_tel {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-transform: uppercase;
    display: block;
    margin-top: 8px;
    text-decoration: none;
    text-align: right;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 19px;
    border-radius: 4px;
}

.promo {
    min-height: 800px;
    background: url(../img/BG/BG1.jpg) center center/cover no-repeat;
    padding: 151px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.promo .promo_subheader {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_desc {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
}

.promo .promo_btn {
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    display: block;
    margin: 118px auto 0 auto;
}

.advantage {
    min-height: 900px;
    padding: 71px 0 68px 0;
}

.label {
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}

.title {
    margin: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
}

.advantage .advantage_block {
    margin-top: 40px;
    display: flex;
}

.advantage .advantage_block .advantage_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.advantage .advantage_block .advantage_desc {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: left;
    max-width: 341px;
    margin-left: 26px;
}

.advantage .advantage_block .advantage_desc span {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
}